.hero {
  padding-top: 86px;
  padding-bottom: 8px;
  background-image: url("../../images/mobile/hero-bg@mobile-1x.webp");
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../../images/mobile/hero-bg@mobile-2x.webp");
  }

  @media screen and (min-width: 768px) {
    padding-top: 98px;
    padding-bottom: 43px;
    background-image: url("../../images/tablet/hero-bg@tablet-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/tablet/hero-bg@tablet-2x.webp");
    }
  }

  @media screen and (min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 90px;
    background-image: url("../../images/desktop/hero-bg@desktop-1x.webp");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/desktop/hero-bg@desktop-2x.webp");
    }
  }

  &__container {
    overflow: hidden;
  }

  &__title {
    color: $text-color;
    font-family: "Montserrat Alternates";
    font-size: 28px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: -0.03em;
    max-width: 280px;
    margin-bottom: 18px;
    animation-name: run__title;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    @media screen and (min-width: 768px) {
      font-size: 30px;
      max-width: 319px;
      margin-bottom: 9px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 60px;
      line-height: 108%;
      max-width: 757px;
      margin-bottom: 20px;
    }
  }

  &__text {
    color: $text-color;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 28px;

    @media screen and (min-width: 1280px) {
      font-size: 24px;
    }
  }

  &__button {
    @extend %buttons;
    text-align: center;
    width: 145px;
    height: 40px;
    transition: background-color 1s 500ms, color 1s 500ms, box-shadow 1s 500ms;
    box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);

    &:hover {
      color: $button-color;
      border: 1px solid $button-color;
      background: $accent-color;
    }
  }

  &__list {
    margin-top: 32px;
    display: flex;
    gap: 16px;
  }

  &__link {
    width: 16px;
    height: 16px;
    transition: fill 1s 300ms;

    &:hover,
    &:focus {
      fill: $button-color;
    }
  }
}
