.scroll-top {
  width: 100px;
  height: 100px;
  background-color: $button-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: all 1000ms ease-in-out;
  animation-name: bit__button;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 7000ms;
}


.scroll-top:hover {
  color: $button-color;
  background-color: $accent-color;
  border-radius: 50%;
  box-shadow: $button-color 2px 2px 30px 10px;
}