%buttons {
  background-color: $button-color;
  border-radius: 25px;
  color: $accent-color;
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
